<% unless current_user?(@user) %>
  <div >
  <% if current_user.following?(@user) %>
    <div id="unfollow">
      <%= render 'unfollow' %>
    </div>
  <% else %>
    <div id="follow">
      <%= render 'follow' %>
    </div>
  <% end %>
  </div>
<% end %>