<div class="d-flex align-items-center justify-content-center">
  <div class="col-1">
    <%= link_to gravatar_for(order.user, size: 30), order.user %>
  </div>
  <div class="col-11 mx-2">
    <%= link_to order.topic, order %>
    <div class="d-flex align-items-center small">
      <%= order.user.name %>
      <small class="mx-2">
        <%= time_ago_in_words(order.created_at) %>前に投稿
      </small>
    </div>
</div>