 .links {
    a {
        color: black;
        text-decoration: none;
    }
 }

 .test {
     color: white;
 }

.step {
    display:flex;
    background-color: white;
}

.steptext {
    text-align: center;
}

.step-name {
    font-weight: bold;
}

.post-time {
    color: #777777;
}

.body-all {
    background-color: #F5FFFA;
}

